/* =============================== */
/*       CONTENEDOR GENERAL        */
/* =============================== */
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

/* =============================== */
/*             TABLA               */
/* =============================== */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #333;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}

/* =============================== */
/*             HEADER              */
/* =============================== */
.custom-table thead {
  background: #d9d9d9;
  color: #000;
}

.custom-table thead th {
  padding: 14px 12px;
  font-weight: 600;
  text-align: left;
  font-size: 14px;
}

/* =============================== */
/*              FILAS              */
/* =============================== */
.custom-table tbody tr {
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.custom-table tbody tr:hover {
  background: #f2f4f7;
}

/* =============================== */
/*             CELDAS              */
/* =============================== */
.custom-table td {
  padding: 12px 10px;
  color: #444;
}

/* =============================== */
/*        FILA SIN DATOS           */
/* =============================== */
.no-data {
  text-align: center;
  padding: 20px !important;
  color: #777;
  font-style: italic;
}

/* =============================== */
/*            ACCIONES             */
/* =============================== */
.acciones {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* =============================== */
/*          BOTONES ACCIÓN         */
/* =============================== */
.accion-btn {
  border: none;
  cursor: pointer;
  font-size: 28px;
  background: transparent;
  transition: 0.2s ease;
  padding: 4px;
}

.accion-btn:hover {
  transform: scale(1.25);
}

/* COLORES */
.view-btn {
  color: #4f46e5;
}

.edit-btn {
  color: #0669cc;
}

.accion-btn-text {
  background: #6366f1;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 800;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.accion-btn-text:hover {
  background: #4f46e5;
  transform: translateY(-1px);
}

.delete-btn {
  color: #dc2626;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 15px;
}

.pagination button {
  background: #4f46e5;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.pagination button:disabled {
  background: #c7c7c7;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background: #3730a3;
}

.page-info {
  font-size: 14px;
  color: #444;
}